blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 1.5;
  color: #cf1919;
  text-align: left;
  
  /*Borders - (Optional)*/
  border-left: 15px solid #cf1919;
  border-right: 2px solid #cf1919;
  
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}
@media only screen and (max-width : 600px) {
	blockquote {
	font-size: 15px;
	}

}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #cf1919;
  
  /*Positioning*/
  position: absolute;
  left: 5px;
  top:-8px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #cf1919;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}
blockquote ins {
	color: #1cbd00;
}

.content {
	float: none;
	margin: 2em auto;
}
.content p, h2, h3 {
	color: white;
    line-height: 1.5em;
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 1px 2px black;
    
}
@media only screen and (max-width : 600px) {
	.content p {
		font-size: 15px;
	}
	.content h2 {
		font-size: 20px;
	}
	.content h3 {
		font-size: 18px;
	}
	.bg-games {
		padding: 1em !important;
    	border-radius: 2em !important;
	}
}


@-webkit-keyframes progress-bar-animate {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-animate {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  overflow: hidden;
  height: 30px;
  border-radius: 15px;
  background-image: -webkit-linear-gradient(top, #ccc 0%, #ddd 100%);
  background-image: linear-gradient(to bottom, #ccc 0%, #ddd 100%);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  pointer-events: none;
}
.progress-bar {
  width: 0%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  background-color: #26c303;
  background-size: 40px 40px;
  border-radius: 10px 0 0 10px;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 30%, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.1) 33%, transparent 33%, transparent 46%, rgba(0, 0, 0, 0.1) 46%, rgba(0, 0, 0, 0.1) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 80%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.1) 83%, transparent 83%, transparent 97%, rgba(0, 0, 0, 0.1) 97%, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 30%, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.1) 34%, transparent 34%, transparent 46%, rgba(0, 0, 0, 0.1) 46%, rgba(0, 0, 0, 0.1) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 80%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.1) 84%, transparent 84%, transparent 96%, rgba(0, 0, 0, 0.1) 96%, rgba(0, 0, 0, 0.1));
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: width 200ms ease;
  -moz-transition: width 200ms ease;
  -o-transition: width 200ms ease;
  transition: width 200ms ease;
  -webkit-animation: progress-bar-animate 1s linear infinite;
  animation: progress-bar-animate 1s linear infinite;
}

.m-top {
	margin-top: 2em;
}
.bg-games {
	background-color: #adadad61;
    padding: 2em;
    border-radius: 3em;
    box-shadow: 0px 4px 8px rgb(64 63 63);
}

.users {
  table-layout: fixed;
  table-height: auto;
  height: auto;
  width: 100%;
  /*white-space: nowrap;*/

}
/* Column widths are based on these cells */
.row-ID {
  width: 50%;

}
.row-name {
  width: 50%;
  
}

.table-war {
	background-color: #fff;
	color: #000;
	font-weight: bold;
}
.users td {
 /*white-space: nowrap;*/
  overflow: hidden;
  text-overflow: ellipsis;

}
.users th {
  background: #cf1919;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  
}
.users td,
.users th {
  text-align: left;
  padding: 5px 10px;
  border: 2px solid #cf1919;

}
.users tr:nth-child(even) {
  background: #e6adad;
}
